In [1]:
import numpy as np
import pandas as pd

In [2]:
array = np.array([[1, 4, 5, 5, 2, 1, 3, 2, 4], 
                  [4, 1, 2, 2, 3, 3, 1, 4, 5],
                  [2, 2, 1, 1, 1, 2, 2, 3, 4],
                  [5, 5, 4, 3, 5, 5, 4, 5, 2],
                  [3, 3, 3, 4, 4, 4, 5, 1, 1]])

### Calculate Sum (Փորձագետների տված գնահատականների գումարի հաշվվում)

In [3]:
sumOf = array.sum(axis=-1)
array = np.hstack([array, sumOf[:, None]])

### Calculating new rating (Նոր վարկանիշի հաշվվում)

In [4]:
newRateing = sumOf.argsort()
newRateing += 1
array = np.hstack([array, newRateing[:, None]])

### Calculating $t_j$ (համընկնումների քանակ)

In [5]:
t_j = []
for i in range(9):
    t_j.append((array[:, i] == newRateing).sum())
t_j.extend(['-', '-'])
t_j = np.array(t_j)
array = np.vstack([array, t_j[None]])

### Calculating  $T_j \space (T_j = t_j^3 - t_j)$

In [6]:
T_j = np.power(t_j[:-2].astype(int), 3) - t_j[:-2].astype(int)
T_j = list(T_j)
T_j.extend(['-', '-'])
T_j = np.array(T_j)
array = np.vstack([array, T_j[None]])

### Visualization (Վիզուալիզացիա)

In [7]:
columns = []
for i in range(9):
    columns+=[f'փ_{i+1}']
columns += ['գում', 'նոր դաս']
rows = ['ՀԱՊՀ', 'ԵՊՀ', 'AUA', 'RAU', 'ՃՇՀԱՀ', '$t_j$', '$T_j$']

df = pd.DataFrame(array, columns=columns, index=rows)
df

      փ_1 փ_2 փ_3 փ_4 փ_5 փ_6 փ_7 փ_8 փ_9 գում նոր դաս
ՀԱՊՀ    1   4   5   5   2   1   3   2   4   27       3
ԵՊՀ     4   1   2   2   3   3   1   4   5   25       2
AUA     2   2   1   1   1   2   2   3   4   18       1
RAU     5   5   4   3   5   5   4   5   2   38       5
ՃՇՀԱՀ   3   3   3   4   4   4   5   1   1   28       4
$t_j$   1   1   2   3   3   2   1   1   0    -       -
$T_j$   0   0   6  24  24   6   0   0   0    -       -

### Concordance coefficient (Կոնկորդացիայի գործակից)

### $W = \frac{12S}{N^2(K^3 - K) - N\sum_{n=1}^{N} T_j}, \space  S =\sum_{n=1}^{k} (K_{iN+T}\frac{1}{2}N(K+1))^2$

In [ ]:
S = np.power(array[:, -2][:-2].astype(int) - 5*(5+1), 2).sum()

W = (12*S) / (100*120-(10*156))
print(f"Concordance coefficient is {round(W, 2)}.")